table,th,td {
  border : 1px solid rgb(0,43,84);
  background-color: rgb(0,83,160);
  border-collapse: collapse;
}
th,td {
  padding: 5px;
}
h1
{
   color: rgb(0,83,160);
   text-align: center;
   font-size: 3em;
   
}
section
{
   margin: 10% 1%;
}
*{font-family: helvetica;}
pre#head
{
   color: rgb(0,83,160);
   text-align: center;
   font-size: 1.5em;
}
pre
{
   width: auto;
   margin: 0 auto;
}
#btn
{
   display: grid;
   grid-template-columns: auto auto;
   width: 75%;
   margin: 0 auto;
   text-align: center;
   
   
}
#btn button
{
   border: 1px solid rgb(0,43,84);
   background-color: rgb(0,83,160);
   padding: 10% 5%;
   font-size: 2em;
   border-radius: 10px;
   margin: 1%;
}
#inpt
{
  width: 30%;
  margin: 0 auto;
}

#inpt button
{
   border: 1px solid rgb(0,43,84);
   background-color: rgb(0,83,160);
   font-size: 1.5em;
   border-radius: 10px;
}
#jsonout
{
   width: 50%;
   margin: 2% 25%;
}
