/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box; }  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
  font-family: 'Montserrat', sans-serif;
}






header 
{
    background-color: rgb(65, 113, 244);
	display: grid;
	grid-template-columns: auto;
	
	
	
}

header img {width: 10%; margin-left: auto; margin-right: auto;}


/*************
* Navigation bar
*************/
nav button
{

    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
	

}
nav 
{
	align-content: center;
	margin-left: auto;
    margin-right: auto;
    background-color: rgb(65, 113, 244);
    width: 100%;
	margin-bottom: 2%;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    
}

nav ul li a 
{
    display: block;
    background-color: rgb(65, 113, 244);
    color: aliceblue;
    
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul:first-child a
{
    border-left: none;
}
nav ul li.active a 
{
    background-color: #00004d;
}
nav ul li a:hover 
{
    background-color: darkblue;
}
nav ul.hide{display: none;}
nav ul.show{display: block;}



span 
{
    font-weight: bold;
    font-size: 1.2em;
}

main picture
{overflow: hidden;}


footer 
{
    padding: .5rem 2%;
    background-color: rgb(65, 113, 244);
    color: white;
    text-align: center;
    width: 100%;
    font-size: small;
	overflow: auto;
	margin-top: 2%; 
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
.container
{
	display: grid;
	grid-template-columns: 100%;
	background-color: #2196F3;
	padding: 10px;
}
.index
{
	background-color: rgba(255, 255,255, 0.8);
	border: 1px solid;
	text-align: center;
}

.textContainer
{
	display: grid;
}

	.container div img, .buy img {width: 100%;}

.accordion div
{
	border: 1px solid;
	margin-bottom: 0;
	padding-bottom: 0;
}
.accordion h2
{
	border: 1px solid;
	padding-bottom: 0;
	border-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #42f480;
}

.accordion a
{
	text-decoration: none;
}
.current
{
    width: 20%;
    margin: auto;
}
.current p
{
    float: left;
}
.current img
{
    width: 5rem;
    height: 5rem;
}
/******************
*  Style for the Form
******************/
form#stormCenter h1
{
	color: blue;
    text-shadow: -1.5px 0 blue, 0 1.5px blue, 1.5px 0 black, 0 -1px black;
	text-align: left;
	font-size: 2rem;
	
}
form#stormCenter
{
	margin: 1em 3%;
	text-align: left;
}

form#stormCenter legend
{
	color: blue;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1px black;
	font-size: 1.5em;
}

form#stormCenter span 
{
	display: block;	
}

fieldset
{
	background-color: #ddeaff;
	border: #edf2f9;
	}

label
{
	display: block;
	margin: 2%;
}
.f
{
	margin-left: 2%;
}


.submitButton, .buy button
{
	margin-top: 2%;
	background-color: rgb(65, 113, 244);
	border: none;
	padding: 2% 2% 2% 2%;
	font-size: 1.5rem;
	width: 50%;
}

.submitButton, .buy button:hover 
{
    background-color: rgb(48, 100, 242);
	box-shadow: 4px 4px 10px;
	
}

#thanks
{
	margin-top: 2%;
	background-color: blue;
	border: none;
	padding: 2% 2% 2% 2%;
	font-size: 1.5rem;
	width: 50%;
	color: white;
	
}
#thanks a
{
	text-decoration: none;
	color: white;
}
#thanks:hover 
{
    background-color: darkblue;
	box-shadow: 4px 4px 10px;
	
}

#currentdate {font-weight: normal; font-size: small;}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
